[2019-12-11 16:40] nathan-weinberg opened #8 "Allow for blocker YAML file to be passed as second command line argument"
Behaviour will be similar to current behaviour for config YAML but as a second command line argument

[2019-12-16 18:37] #8 closed

[2020-01-16 20:32] EliadCohenRH opened #20 "Minimize bugzilla api calls by passing a list of unique bug numbers"
Currently the api calls https://github.com/nathan-weinberg/jeeves/blob/master/main.py#L37-L66 iterate through a list of bugs from all job blockers which includes non-uniques potentially.

Change the function call to pass a list of uniques list(set(bugs)) and also append the bug number as a key:
`bugs.append(
  {
        bug_id:[
	    'bug_name': bug_name,
	    'bug_url': bug_url
            ]
  }`

[2020-01-16 20:32] nathan-weinberg opened #21 "Fix sorting logic so jobs are always ordered by descending OSP version in HTML table"

[2020-01-18 16:57] nathan-weinberg commented on #21
Notes on current implementation:

Once all jenkins jobs are fetched and filtered, the main loop of iteration processes them as so:

`for job in jobs[::-1]`

This is done so that jobs are processed starting with OSP16 and descending down the versions in the set, building the rows for the report in said order. However this implementation does not always work as we have seen with EST jobs.

[2020-01-18 17:01] nathan-weinberg commented on #21
Recommendation for fix:

Once all rows have been assembled the easiest way to ensure they are sorted correctly prior to building the report would be a descending sort based off `osp_version` key/value pair. Following this implementation the main loop of iteration can and should be changed to the following:

`for job in jobs`

as the order in which the jobs are processed will no longer matter.

[2020-01-18 17:06] nathan-weinberg commented on #20
As part of this enhancement it would be great if we could eliminate the need for the `all_bugs` and `all_tickets` variables to be part of global scope.

Currently they are declared globally but used by function calls without being explicitly passed back and forth; the latter is messy and the former is generally considered bad practice.

If some sort of pre-processing is to be done prior to the `ge

[2020-01-20 19:57] nathan-weinberg opened #23 "Add Github Actions workflows to perform automated PR checks"
Specifically one to run test suite (via pytest) and perhaps linting as well

[2020-01-24 01:53] nathan-weinberg opened #25 "Make datetime in email report more readable"

[2020-01-24 01:53] nathan-weinberg opened #26 "Add line between report fields with multiple entires (bugzilla., jira)"

[2020-01-24 04:01] #25 closed

[2020-01-24 04:02] #26 closed

[2020-02-04 17:16] nathan-weinberg opened #28 "Add "email_to_test" field so users can test email reporting before actual send"
1. Add "email_to_test" field (optional) to "config.yaml.example"
2. Edit main script to take a flag `--test` that when used sends email report to "email_to_test" address instead of "email_to"

[2020-02-08 21:24] #28 closed

[2020-02-20 19:13] #23 closed

[2020-02-26 23:23] nathan-weinberg opened #33 "Allow for multiple 'job_search_field' fields"
This will allow for reports containing jobs including multiple squads, e.g. Ceph and Unified jobs

[2020-02-27 01:31] #33 closed

[2020-02-27 18:24] nathan-weinberg commented on #21
@jngrosso Please also test this using multiple 'job_search_fields' entries; specifically 'DFG-ceph-rhos,DFG-all-unified'

[2020-02-27 18:55] jngrosso commented on #21
@nathan-weinberg  acknowledged

[2020-03-04 16:43] EliadCohenRH opened #39 "Change get_bugzilla to return a dictionary"
[get_bugzilla()](https://github.com/nathan-weinberg/jeeves/blob/0903de389361b88c4d59e33cc0986fa800b3b8b3/main.py#L23) Should be modified to return a dictionary instead of a list.
Dictionary should have the bug id as the key and the name and link as the value (as it is now).
This will extend the work done for issue #20 and move the buziness logic of generating a dict into the function.

[2020-03-04 20:32] nathan-weinberg opened #40 "Align Jeeves with flake8 styling"
- only for main.py
- running list of rules to ignore: W191, E117, E501, E722

[2020-03-04 20:33] nathan-weinberg opened #41 "Added GitHub Actions for flake8 style check"
`flake8 --ignore=W191,E117,E501,E722 main.py`

[2020-03-04 20:50] #20 closed

[2020-03-04 20:50] #39 closed

[2020-03-04 21:21] #40 closed

[2020-03-05 00:29] #41 closed

[2020-03-05 00:35] nathan-weinberg opened #44 "Refactor Jira API calls to match new format used for BZs"
#38 minimizes Bugzilla API calls, we should do the same optimization for Jira tickets

[2020-03-05 00:59] nathan-weinberg opened #45 "Skip Jenkins builds that test specific Components"
Some Unified jobs have runs designed only to test a component - they are not reflective of the job status as a whole. We need to alter the behaviour of Jeeves to fetch not just the last completed build of a job but to fetch the LCB that is **not** solely testing a component.

[2020-03-06 16:20] nathan-weinberg opened #47 "Report reflects blocker totals/uniques in blocker file, not actual report"
The report summary will always show the total/unique blockers in the **blocker file**, not what is actually in the report. E.g. if you have a blocker file for ceph jobs and sent a report for unified jobs, even though the report will state "Could not find relevant bug/ticket" for every non-successful job, the summary will still show what is in the blocker file.

[2020-03-09 18:24] #45 closed

[2020-03-09 20:08] #44 closed

[2020-03-09 21:54] nathan-weinberg opened #50 "Add Ceph container information to report"

[2020-03-10 13:45] EliadCohen opened #53 "Modularize bugzilla calls"
Create a bugzilla connector class:

* Allow multiple ids queried in one call.
* Generate a dictionary to return to the main program
* automatically include the [0] proposition for no bug on file
* Remember to dispose of api objects when done

Some references here:
https://github.com/python-bugzilla/python-bugzilla/blob/master/examples/query.py

[2020-03-11 13:44] nathan-weinberg commented on #50
@EliadCohen can you update this issue when the Jenkins work is complete?

[2020-03-11 19:39] EliadCohen opened #54 "Allow to query jobs in the blockers file without searching for a job"
My suggestion is that when having multiple jobs across several different components and having a variation in naming, to allow using the full names from the blockers file to query jenkins without utilizing ```job_search_fields: ```

Usecase would be if just a subset of cross-DFG jobs is required for the report.

[2020-03-11 19:40] EliadCohen opened #55 "Allow using a search filter in the form of a regex"
Jenkins' search field doesn't allow the use or a regular expression to search.
However - it could be nice if we could pass a regex to filter the search results and thus narrow the report

[2020-03-12 15:11] EliadCohen opened #56 "Pre-emptive bug - Regular expression should be modified to include decimal values"
https://github.com/nathan-weinberg/jeeves/blob/feb3be7d11691f4f37c8f5656fbf355c063feae9/main.py#L168

Should probably be modified to
[code]

[2020-03-12 16:59] EliadCohen opened #58 "Will break come 16.1"
https://github.com/nathan-weinberg/jeeves/blob/feb3be7d11691f4f37c8f5656fbf355c063feae9/main.py#L92

[2020-03-12 17:00] #58 closed

[2020-03-12 17:00] EliadCohen commented on #58
Will pick up 16 in '16.1'

[2020-03-12 17:11] #21 closed

[2020-03-12 17:12] EliadCohen opened #59 "search fields break when a space follows a comma"
if config.yaml contains fields separated by a ', ' (space following a comma) the filtering may fail.
Can be fixed by adding :
[code]
to get_jenkins_jobs

[2020-03-12 18:12] nathan-weinberg commented on #59
Please declare
[code]
outside the loop as a local variable and then use it as so
[code]

This avoids have _n_ additional function calls

[2020-03-12 18:17] nathan-weinberg commented on #53
Low-priority for now; I want to do a full modularization effort as part of 2.0

[2020-03-12 20:39] EliadCohen commented on #50
Yes will do @nathan-weinberg

[2020-03-18 09:03] tosky opened #60 "Allow more trackers and refactor tracker settings"
The code is tightly hardcoded to use either bugzilla or jira, and it is difficult to introduce new trackers. At least trello would be useful, but even a generic "other" tracker which takes a full URL would work.

If people feels like a general order should be enforced the configuration itself could be generalized to something like:
- type: bz
  instance: redhat
  id: <id>
  comment: ....
- type: j

[2020-03-18 09:42] tosky opened #61 "Move towards pep8 (start with tabs->spaces)"
"Spaces are the preferred indentation method."

[2020-03-18 12:34] nathan-weinberg commented on #61
See comments in #62

[2020-03-18 12:34] #61 closed

[2020-03-18 16:26] nathan-weinberg opened #63 "Allow for emails to be sent to mutliple respondents"
Expand email functionality to parse behave similarly to `job-search-fields` such that email addresses for both `email_to` and `email_to_test` can be seperated by comma

[2020-03-19 01:13] #63 closed

[2020-03-19 14:35] nathan-weinberg commented on #47
Looks like the summary issues are larger than I initially thought; going to try and fix them all before sending out the report this Friday.

[2020-03-19 14:38] EliadCohen commented on #47
You can change the name of the item on the report to "*Known* blocker totals/uniques" no?
@nathan-weinberg

[2020-03-19 14:58] nathan-weinberg commented on #47
@EliadCohen I could, but I want the summary to reflect what is visible in the report; not what is present in the config files. Next step following this is determining why there emerged a discrepancy in the first place :)

[2020-03-20 18:14] #47 closed

[2020-03-20 18:47] nathan-weinberg opened #66 "New command line option to save report to archive"
Currently, HTML file saving only occurs on email failure. We want to add a new command line flag `--save` that would save a generated report on a given run to an `archive` folder within the Jeeves repository with a name format that includes date and time generated.

[2020-03-20 22:04] #66 closed

[2020-03-25 13:27] #60 closed

[2020-03-26 14:40] nathan-weinberg commented on #56
@EliadCohen do you think we could have this in by end of next week?

[2020-03-26 15:09] EliadCohen commented on #56
I think so. I'll work on it tomorrow or early next week.
It is straightforward enough to be completed by next EOW

On Thu, Mar 26, 2020 at 10:40 AM Nathan Weinberg <notifications@github.com>
wrote:

--

Eliad Cohen

Senior Quality Engineer, Enterprise system testing DFG

Red Hat <https://www.redhat.com/>

elicohen@redhat.com    T: +18577700651
M: +17812961025     IM: @eliadcohen on IRC (#RHOS-Ente

[2020-03-26 17:21] EliadCohen opened #69 "Extend Jeeves CLI to send a reminder email"
As this is being productised slowly, I'd like to see a feature where Jeeves can send a reminder email to "Update the blocker files".
Would love to hear more thoughts.

[2020-03-26 18:07] nathan-weinberg commented on #69
I like the idea

Could you delve more into the details of the usecase you had in mind?

[2020-03-26 19:52] EliadCohen commented on #69
Sure @nathan-weinberg
Our goal is to have something running almost on full-auto and our use-case is as follows:
Every wednesday, we are sending a report to all stakeholders.
We want updates to the blockers file to be done by Tuesday. So Monday, we would like to run Jeeves, have it query jenkins for the job status only, don't send regular report (call it --stage-report-solicitation for *short*). If

[2020-03-27 12:34] EliadCohen opened #70 "Jenkins jobs that were never run will cause a TypeError("'NoneType' object is not subscriptable")"
job_info['lastCompletedBuild'] is None for jenkins jobs that were never run before
as a result, job_info['lastCompletedBuild']['number'] call throws an exception.
https://github.com/nathan-weinberg/jeeves/blob/master/main.py#L277

This could be recovered by a check.
The results of this bug is not adding the jobs to the report

[2020-03-27 13:05] EliadCohen opened #71 "Need to handle "No known builds" from jenkins in html template"
When a new job is retrieved from jenkins, there are no known builds on record.
This causes bug #70 .
The suggested fix for #70 involves setting `lcb_result = "NO_KNOWN_BUILDS"` which is later changed to `lcb_result = "ERROR"` in
[code]

We might consider handling the "NO_KNOWN_BUILDS" by adding it to this if-elif-else block and in the html template

[2020-03-27 18:22] nathan-weinberg opened #73 "Jira count is calculated incorrect in summary"
Some issues remain in the summary calculation that weren't fixed in #65 - need to change calculation so it is done the same way as it is for Bugzilla

[2020-03-27 19:47] #56 closed

[2020-03-27 19:47] #70 closed

[2020-03-30 15:22] #71 closed

[2020-03-30 16:05] nathan-weinberg commented on #69
@EliadCohen Overall sounds great, just one question: When you say "email the responsible party", would this resemble one big digest to rhos-storage, or would we have some sort of internal mapping of jobs to individuals/other email lists?

[2020-03-30 16:11] nathan-weinberg commented on #59
Removing the "bug" label b/c docs explain proper usage, but this would still be a great feature to have.

@jngrosso Do you think you could get a PR in for this this week?

[2020-03-30 19:42] EliadCohen commented on #69
That's a good questions. I think the latter should be the one we want. maybe we can add a maintainer key:value pair to the blockers yaml? probably a list?

[2020-03-30 20:08] #73 closed

[2020-03-31 16:29] nathan-weinberg commented on #69
@EliadCohen ack, the question then becomes how do we determine internally who is responsible for what - we also have to handle the case where we have multiple individuals/groups responsible for the same job

For example, Ceph squad jobs running Manila would probably follow under both Ceph squad and Manila squad

[2020-03-31 16:38] EliadCohen commented on #69
@nathan-weinberg That's true and pose two use cases (who responsible to what)
1. Simple mapping - one owner per job
2. Complex mapping - several interested parties in several stages of a single job

I think we should treat them the same way - inclusively.
If a job fails, those parties should be looking into the job regardless of why it failed (a detail that is unknown at the time of noticing a job

[2020-03-31 17:22] nathan-weinberg commented on #69
@EliadCohen I think this is a good starting point, but I'd like to gather feedback from the DFG at large before we being implementing anything, since like you said this will affect many peoples inboxes :)

Would you mind sending out an email to the relevant parties with your proposal?

[2020-03-31 18:20] EliadCohen commented on #69
Sure, I'll get on that email in a couple of hours.

On Tue, Mar 31, 2020 at 1:22 PM Nathan Weinberg <notifications@github.com>
wrote:

--

Eliad Cohen

Senior Quality Engineer, Enterprise system testing DFG

Red Hat <https://www.redhat.com/>

elicohen@redhat.com    T: +18577700651
M: +17812961025     IM: @eliadcohen on IRC (#RHOS-Enterprise)
<https://www.redhat.com/>

[2020-04-01 18:39] amodi5 commented on #69
LGTM, since this blockers file would contain "sensitive" data like downstream jira, email addresses, i hope you are planning on running this downstream.

Also, can we have an increased frequency, like 1 day before reporting it'll be 1 email, 12 hours before reporting we send out another email, <6 hours we send out another on, just suggesting some numbers- can be different while implementing

[2020-04-01 18:52] nathan-weinberg commented on #69
Yup, all of this data would be kept in the downstream-only "jeeves_config" repo on GitLab

Interesting idea, we'll definitely want to tweak this frequency-wise - I don't want to overload peoples inboxes

[2020-04-01 18:59] nathan-weinberg commented on #69
Maybe we could even expand this feature such that if there is a Bug or Ticket with "Closed" status, it sends out a relevant mail for that case as well?

[2020-04-02 01:18] gouthampacha commented on #69
Cool with the general idea, maybe we can separate the concerns. I think what we can do is allow Jeeves to have a "--precheck" option, which will basically identify owners of jobs that are failing (based on comma separated email list of  "interested-parties" that @EliadCohen suggested) and alert them that they need to triage these jobs and update the blockers file.

This basically means Jeeves won'

[2020-04-03 16:04] nathan-weinberg opened #77 "Job does not appear in report if 'core_puddle' was never calculated"
If a job fails before Jenkins calculates the 'core_puddle_version' of the last completed build, Jeeves will fail to identify the version with the following line:

`compose = [action['text'][13:-4] for action in build_actions if 'core_puddle' in action.get('text', '')][0]`

and output a failure similar to the one below:

`Jenkins API call error: list index out of range`

Currently this is handled b

[2020-04-03 18:01] #77 closed

[2020-04-03 20:24] gouthampacha commented on #69
You're not thinking of schedule management through Jeeves, are you? Wouldn't it be simpler to handle that outside of this tool?
But, spitballing as far as consumption goes, whenever/wherever we decide to automate the schedule:
I feel a no-blockers email would likely not be helpful to the main report consumers. It'd be nice to trigger the email to the main consumers (in your example, rhos-storage)

[2020-04-03 20:35] nathan-weinberg commented on #69
Yes correct; scheduling would be done through cron

i.e. Skip this step and move straight to implementing Step 2?

[2020-04-03 20:39] gouthampacha commented on #69
Yes.. if Jeeves could have a mode that just did Step 2, working with the blockers.yaml format you proposed, it'd solve this use case.

[2020-04-06 13:16] EliadCohen commented on #69
I  like it

On Fri, Apr 3, 2020 at 4:39 PM Goutham Pacha Ravi <notifications@github.com>
wrote:

--

Eliad Cohen

Senior Quality Engineer, Enterprise system testing DFG

Red Hat <https://www.redhat.com/>

elicohen@redhat.com    T: +18577700651
M: +17812961025     IM: @eliadcohen on IRC (#RHOS-Enterprise)
<https://www.redhat.com/>

[2020-04-17 14:56] nathan-weinberg commented on #69
@amodi5 @gouthampacha @EliadCohen Update on this, I currently have a WIP implementation locally. However, I find myself facing an architectural decision I would love input on. The way I see it, there are two ways forward:

1. Single-File
    - Weave new reminder logic into existing `main.py` using `--remind` as a logic switch
    - Pros: Aligns moreso with current project structure, less overall c

[2020-04-17 16:03] amodi5 commented on #69
I'd vote for the Multi-File approach since we might need to tweak remind/report per user needs

[2020-04-17 16:03] amodi5 commented on #69
I'd vote for the Multi-File approach since we might need to tweak remind/report per user needs

[2020-04-17 17:44] EliadCohen commented on #69
I'd vote whichever path leads quicker to modularization. And This may be the catalyst to start such activity

[2020-04-17 20:13] gouthampacha commented on #69
I'd vote for modularity and readability - having the code split over multiple files is not a concern imo, given most of us are used to that, and have probably evolved our development environments to handle it. I don't think it'd lead to more code replication if we modularize well, wdyt?

[2020-04-17 20:15] nathan-weinberg commented on #69
Thanks for the feedback guys; I'll put up a multiple file PR and we can hash out the details in there.

[2020-04-23 14:51] EliadCohen opened #81 "Add try/except handling for Jira client"
https://github.com/nathan-weinberg/jeeves/blob/1ff945b346c0295e72e7abd3cfa3fd6fc8a3d74d/main.py#L97

Explicitly:
`jira = JIRA(auth=auth, options=options)` should be wrapped by try/except

[2020-04-23 23:19] gouthampacha opened #82 "Make --remind a bit more generic"
Pull #80 added the functionality to use jeeves in a "--remind" mode. It currently reminds any tagged owners of a change that does not have any blocker on it (one of bugzilla, jira, others). Jenkins Jobs may be failing due to multiple reasons - there's already a provision for this in jeeves, because all the trackers accept lists, so a single job can have one or more blocking BZs, jiras or other not

[2020-04-24 01:12] #69 closed

[2020-04-24 01:48] nathan-weinberg commented on #82
What if we refactored the reminder feature as so:
- Reminder consists of all jobs where owner is marked as responsible
- Add a new column "Triaged Status" or something of the like to the far right side of the reminder
- Use existing `has_blockers()` function to mark job "Triaged" or "Untriaged" in new column

[2020-04-24 17:06] nathan-weinberg opened #84 "Add logging for email sending to ensure successful send"
SMTP protocol allows 48 hours for email delivery; we need to ensure emails will be successful delivered from a programmatic standpoint so we don't rely on instant delivery w/ manual confirmation that a report or reminder was successfully delivered

Ref: https://www.socketlabs.com/blog/21-smtp-response-codes-that-you-need-to-know

[2020-04-24 17:39] nathan-weinberg commented on #84
According to https://docs.python.org/3/library/smtplib.html#smtplib.SMTP.sendmail (docs for the function being used to send all Jeeves mail) an exception should be thrown if the server is expected to not successfully deliver the mail to at least one recipient

As such, we should expect an empty dictionary returned from our `sendmail` function. Otherwise an exception should be raised, saving the re

[2020-04-24 18:03] gouthampacha commented on #84
What's the specific error code you hit?

[2020-04-24 18:09] nathan-weinberg commented on #84
@gouthampacha Didn't hit an error code, but at present the logging to determine if one has been hit (or not hit) is not there - as such I was unaware earlier today if messages were being successfully sent or not. I'm going to put a PR to try and handle this early next week.

[2020-04-24 18:59] gouthampacha commented on #84
Ah, I see.. Thank you, I thought we're hitting an exception. Logging makes sense - if jeeves has been automated as a cron job, you can push these log messages to the cron owner..

[2020-04-24 19:22] gouthampacha commented on #82
So will a human/owner update this column?

[2020-04-24 19:49] nathan-weinberg commented on #82
Nope, the column would be updated automatically as so:
- If a job is "PASSED" or in some sort of error state (i.e. "NO_KNOWN_BUILDS", "ERROR") mark cell as "N/A"
- If a job is "UNSTABLE" or "FAILED" and has blockers already logged, mark as "Triaged" (maybe with a reminder to update any blockers that may be stale)
- If a job is "UNSTABLE" or "FAILED" and has no blockers logged, mark cell as "Untria

[2020-04-27 16:39] #84 closed

[2020-04-27 17:36] nathan-weinberg commented on #81
@EliadCohen Isn't this handled later on in the function? in functions.py

[code]

[2020-04-27 19:11] EliadCohen commented on #81
@nathan-weinberg Initializing the client with wrong config may cause an exception.
If the following block picks up erroneous details, the client initialization fails with an unhandled exception.
[code]

[2020-04-27 19:31] nathan-weinberg commented on #81
@EliadCohen Do we know if failing connection initialization throws an exception?

python-jenkins, for example, does not as far as I know - you have to make try and make a call via the connection first to get any kind of exception raised

[2020-04-27 19:35] nathan-weinberg opened #88 "Use regex to determine data validity for blockers"
Currently, `get_bugs_set()` and `get_jira_set()` assume correct formatting of blockers within `blockers.yaml`. Since we have certain expectations of what kind of data we are looking for (seven digit number for bugs, 'RHOS(something)-(four digit number)' for tickets) we can use a regex to validate the data retrieved by these functions.

[2020-04-27 20:33] EliadCohen commented on #88
I think the data validation might need to have it's own config file. As you mention, the use of RHOS[.]*-[0-9]* is downstream-specific and even then is openstack specific. I like the idea but from a design point of view think this should be a user entered regex in a config file. But I also think users should be able to opt for no-validation.

[2020-04-27 20:38] EliadCohen commented on #81
@nathan-weinberg  I did
MissingSchema if you mess up the url
OSError when you mess up the cert

Anything you do to auth will throw things into an infinite recursion resulting in a RecursionError (Runtime error)

[2020-04-27 22:09] nathan-weinberg commented on #88
Maybe a couple of optional fields in `config.yaml` - if no value is set the regex validation is not used?

[2020-04-27 23:19] nathan-weinberg commented on #82
@amodi5 @EliadCohen Do either of you have any thoughts on this?

[2020-04-28 13:57] EliadCohen commented on #88
I'd say that would work @nathan-weinberg

[2020-04-28 14:01] EliadCohen commented on #82
@nathan-weinberg You are saying that the job will be in the table even though it has a blocker(s) on file right?
Will you link the blocker list?
I like the idea of multiple ownership and different causes, I also think we need to balance reminders with user accountability

[2020-04-28 14:11] nathan-weinberg commented on #82
Yes

No - at that point we're just sending out a report with an extra column :)

Right, this should maintain that

[2020-04-28 15:17] nathan-weinberg opened #89 "Component check needs different conditions"
Currently, the component check is done as follows:
[code]
In layman's terms, if a "COMPONENT" label is present in Jenkins, the job is skipped.

We need to change this condition to the following (i.e. if either is true):
- There is an associated gerrit review (on code.engineering; a label is shown in that case)
- There is a 'RUN_MODE: periodic' label

(the comment should be changed as well reflecti

[2020-04-28 17:18] nathan-weinberg commented on #89
Will take of this next week

[2020-04-28 21:07] gouthampacha commented on #82
We expect this reminder feature to be used sparingly, correct? In our current use case, it is triggered once a week.

It makes sense to include the existing blockers in the email, and add text at the top of the email calling out that the jobs owned by the recipient are failing, and may have blockers that may be out of date. These blockers must be updated if they indeed are out of date.

If the blo

[2020-04-29 16:10] nathan-weinberg commented on #55
@EliadCohen Specifically you are talking about passing a regex to `job_search_fields` correct?

[2020-04-29 16:18] nathan-weinberg commented on #54
@EliadCohen So a run mode where instead of using `job_search_fields`, it uses the job names defined in `blockers.yaml`, correct?

[2020-04-30 17:16] #89 closed

[2020-04-30 17:44] nathan-weinberg opened #93 "Move replicated code from report/remind.py to functions.py"
There remains some replicated code from #80 present in Jeeves' current form. We want to minimize this before ultimately taking the larger step of moving Jeeves to a more Object-Oriented design. Details on what/how exactly to move to follow.

[2020-05-04 07:49] lkuchlan opened #94 "Allow capturing job names by regex"
"blockers.yaml" file has "owners" field for each job, since we have multiple jobs, I think  it'll be more convenient to use regex.

For example:
- '^DFG-all-unified-{product_version}.*netapp-nfs-extra':
       owners:
          - owner1@website.com
          - owner2@website.com

If there is bz or jira for a specific job, we will need to specify separately, like:

- 'DFG-all-unified-16_director-rh

[2020-05-04 13:11] EliadCohen commented on #54
Yes

[2020-05-04 13:13] EliadCohen commented on #55
To `job_search_fields` or if easier to an alternative field `job_search_fields_regex`
But the idea is the same, yes

[2020-05-04 13:15] nathan-weinberg commented on #54
So this behavior has been pseudo-implemented by `remind.py`; what usecase did you see for it? Having as an option for reporting as well?

[2020-05-04 14:43] nathan-weinberg commented on #59
@jngrosso, @agarcia64 is going to help out with this as well

[2020-05-04 15:34] #81 closed

[2020-05-04 17:34] EliadCohen commented on #54
@nathan-weinberg When compiling a report for multiple teams or a selective report for a certain cross-section of versions/jobs

[2020-05-12 17:36] #93 closed

[2020-05-14 15:41] nathan-weinberg opened #98 "Create contribution guidelines"

[2020-05-14 15:42] #59 closed

[2020-05-14 19:13] #98 closed

[2020-05-15 17:00] nathan-weinberg opened #100 "Report crashes when trying to fetch BZ from job with no BZ subfields"
Snippet from YAML config that caused error:
[code]
And the traceback:
[code]

[2020-05-15 17:16] nathan-weinberg commented on #55
The best way to do this is probably in `get_jenkins_jobs`, specifically here:

[code]

If users are using regular job_search_fields i.e. how it's done now, the logic is fine. If they want to use a regex, we should a) identify a way to determine if they're doing that b) skip the splitting and simply use the `re` library to see what job names in `all_jobs` match the regex, and return that list

[2020-05-18 12:48] EliadCohen opened #102 "Enhance report with a graph summary"
Not sure about how to implement.
I think it could be nice to add a graph to summarize the report - failing vs passing vs unstable

Inspired by a report by @amodi5 and team

[2020-05-18 13:04] nathan-weinberg commented on #102
Looks like it could be easily implemented in `report_template.html` using this https://developers.google.com/chart/interactive/docs/gallery/piechart

Might require some small changes to the `summary` object being passed to the template

[2020-05-18 18:49] EliadCohen opened #103 "If Jira object isn't initialized, Jira.close() will cause an unhandled exception"
In:
https://github.com/nathan-weinberg/jeeves/blob/6652fd2a1611c30112fbac19fb1ed6294864dbd8/functions.py#L235

[2020-05-18 19:21] nathan-weinberg commented on #102
Okay the above will not work as we can't use JavaScript since the report is delivered via email

Will look into alternate solutions

[2020-05-18 19:37] EliadCohen commented on #102
Found this:
https://medium.com/@anywhichway/html-charts-without-javascript-760a6089bb91

[2020-05-18 19:53] nathan-weinberg opened #104 "Add section to CONTRIBUTING.md on testing other's Pull Requests"

[2020-05-19 12:52] #104 closed

[2020-05-19 17:40] #103 closed

[2020-05-19 17:46] #100 closed

[2020-05-20 01:27] nathan-weinberg opened #108 "Add data validation for config file on load"
Ensure the proper fields are present in config during load in `jeeves.py` with new function in `functions.py`

[2020-05-20 01:55] nathan-weinberg opened #109 "Add support for "ABORTED" Jenkins result"
Things like multijobs will report the build result as "ABORTED", which is not a currently handled state by Jeeves. As such, these jobs show up in the Jeeves report as "ERROR" jobs (as expected). We should expand the handled cases so that this is covered, similarly to what was done for "NO_KNOWN_BUILDS" in #74

[2020-05-20 02:10] nathan-weinberg commented on #102
Cool find @EliadCohen but unfortunately I tested it and it did not work :(

Looking into generating something locally with matplotlib and injecting it in the HTML somehow

[2020-05-20 12:49] EliadCohen commented on #102
Ah, so maybe something like this:
https://stackoverflow.com/questions/48717794/matplotlib-embed-figures-in-auto-generated-html

[2020-05-20 19:19] #108 closed

[2020-05-21 01:51] nathan-weinberg commented on #102
So unfortunately it would seem GMail doesn't support base64 encoded images, based off my tests and confirmed by this: https://sendgrid.com/blog/embedding-images-emails-facts/

Going to have to do some more research on this

[2020-05-21 16:15] nathan-weinberg commented on #50
Dependent on: https://trello.com/c/wSB7c7H2/96-identify-the-ceph-version-compose-used-in-a-job-and-report-it

[2020-05-27 19:34] #109 closed

[2020-06-02 16:43] EliadCohen commented on #82
We are starting to see how stale blockers may be an issue, think we should prioritize this

[2020-06-02 19:04] nathan-weinberg commented on #82
@gouthampacha @EliadCohen How about this - reminder sends a "mini-report" of **only** UNSTABLE and FAILED jobs, with a bit at the top with something along the lines of "these jobs are failing CI, please ensure all blockers are up to date" etc. etc.

Basically the same functionality as now, but removing the `has_blockers()` requirement. The function will remain in `functions.py` in case we want it

[2020-06-03 05:52] gouthampacha commented on #82
+1, agree

[2020-06-03 13:29] EliadCohen commented on #82
I like it too +1

[2020-06-03 15:07] #82 closed

[2020-06-11 14:40] nathan-weinberg opened #114 "Add run mode where HTML file is generated but no email is sent"
Currently the `--save` flag saves an HTML file of the report being sent over email. However at present there is no way to save this file without sending an email. We want to extend and maybe even do a slight refactor of the Jeeves CLI to make this an option.

[2020-06-11 15:53] nathan-weinberg commented on #114
A refactored approach could look as follows:

- Deprecate `--save`, `--test`, and `--remind` flags
- Introduce new flag, `--mode` with following valid args:
    - `save`: Jeeves sends email **and** saves to archive
    - `save-only`: Jeeves **only** saves to archive, does not send mail
    - `test`: Jeeves sends email to `email_to_test` address and **does not** save report
    - `remind`: Jeeves r

[2020-06-11 16:13] gouthampacha commented on #114
Hi Nathan,

This looks like a worthy improvement, however, I seek to simplify a bit:

I don't see a reason to send without saving. So saving any normal report (not a reminder) can become the default. What do you think? With this simplification, the "mode" will only need:

* `save-only`: Jeeves skips sending the email, just archives the report generated
* `test`: Jeeves sends an email to the `email

[2020-06-11 17:18] nathan-weinberg commented on #114
@gouthampacha I like the suggestion, going to let others contribute as well and mull it over

[2020-06-11 18:25] amodi5 commented on #114
Agree +1

[2020-06-14 00:57] nathan-weinberg commented on #114
Agree but one minor tweak - I feel `test` should not save a report because that would basically be the same thing as running `save-only` but also sending to the test email

[2020-06-15 17:01] nathan-weinberg commented on #114
Opening a PR for this - discussion can continue there

[2020-06-18 14:07] #114 closed

[2020-06-18 14:36] nathan-weinberg opened #117 "Program crashes if num_jobs == 0"
If the event where **jobs** were found but no valid **builds** could be determined, the summary calculations can lead to a ZeroDivisionError

[2020-06-18 16:16] nathan-weinberg opened #119 "Create folder for templates"
T4R

[2020-06-18 16:20] #119 closed

[2020-06-24 12:56] EliadCohen opened #121 "Start maintaining the documentation on readthedocs"
https://readthedocs.org/
Interesting even for experimentation sakes.
But not a bad idea to future proof our docs IMO

Thoughts?

[2020-06-24 18:15] nathan-weinberg commented on #121
LGTM :)

[2020-06-25 15:20] nathan-weinberg opened #122 "Add BZ/Jira status to Reminder"
Right now the Reminder uses job status, particularly UNSTABLE and FAILED, to filter what is present in the reminder. However, there is no indication as to whether or not existing BZ and Jira tickets are still blocking a job or not - it requires a manual check. By including the status of BZs or Jiras present in the blocker file, we can accelerate this triaging process so that the full reports refle

[2020-06-25 15:22] nathan-weinberg commented on #122
@amodi5 @gouthampacha @joehakimrahme @EliadCohen Thoughts on this?

[2020-06-25 16:45] nathan-weinberg opened #123 "Prepend blocker name with status in report"
We are already using the Bugzilla and Jira APIs to fetch the names of bugs/tickets via their ID. We can extend the usage of the API by also fetching the statuses of blockers and prepending them to the names we are fetching within the report, providing additional useful information with minimal code changes and no real extra crowding of the existing report format.

[2020-06-25 18:01] nathan-weinberg commented on #122
Implementation would be similar to that done in #124

[2020-06-25 18:45] #123 closed

[2020-06-30 11:55] itzikb commented on #114
@nathan-weinberg

When running with--no-email I get:
[code]
I expect not to check for email configuration when running with --no-email

What do you think?

[2020-06-30 12:54] nathan-weinberg commented on #114
@itzikb Sounds like a bug, would you mind opening an issue for it and I can take a look at it sometime this week?

In the meantime, try defining an "email_subject" field in your config file with an empty value and see if that works as a workaround

[2020-06-30 13:44] itzikb commented on #114
An empty value doesn't work, an empty string works

[2020-06-30 13:54] itzikb opened #125 "email_subject must be defined even when running with --no-email"
When not having an empty value for email_subject and running jeeves.py --no-email I get:
[code]

[2020-06-30 13:58] itzikb opened #126 "Print out the path to the report after saving"
Currently after saving the report the output is:
[code]
It will be great to get the path to the report itself.

[2020-06-30 14:45] nathan-weinberg commented on #126
@itzikb Would you be interested in implementing this?

[2020-06-30 15:06] nathan-weinberg commented on #55
@EliadCohen Could you add a link here to that function you found in the python-jenkins docs?

[2020-06-30 15:24] EliadCohen commented on #55
@nathan-weinberg
Here it is: https://python-jenkins.readthedocs.io/en/latest/api.html#jenkins.Jenkins.get_job_info_regex

[2020-06-30 15:32] nathan-weinberg opened #127 "Change --test flag to --test-email"
I feel having the command line options `--no-email` and `--test` are somewhat confusing - I think it would be clearer if `--test` was `--test-email`

Behavior of the cmd line option would not change

[2020-06-30 15:35] nathan-weinberg commented on #55
Thanks @EliadCohen

@jngrosso @agarcia64 see above ^^

[2020-07-01 14:05] nathan-weinberg opened #129 "Consolidate report format with a single blockers column"
Proposed UI/UX change

[2020-07-02 20:08] #126 closed

[2020-07-08 17:58] #127 closed

[2020-07-14 16:18] pavankrao opened #132 "Adding gerrit links to blocker_files"
Recently, on of my CI job build failed and I had to reference the blockers file with a gerrit patch. Can we add a feature to reference gerrit link to the blocker_files

Thank you

[2020-07-14 17:32] EliadCohen commented on #132
Hi @pavankrao
I think maybe the "other" field can help you accomplish this?
See: https://github.com/nathan-weinberg/jeeves/blob/master/blockers.yaml.example#L29

Or did I miss the requirement?

[2020-07-15 19:36] #129 closed

[2020-07-15 19:37] nathan-weinberg commented on #132
Eliad is right - the 'other' field covers this usecase. Please see the example blocker file for how to implement.

[2020-07-15 19:37] #132 closed

[2020-07-17 15:11] nathan-weinberg opened #134 "CI checks failing due to GitHub Actions bug"
https://github.com/actions/setup-python/issues/114

[2020-07-20 20:04] #134 closed

[2020-07-22 14:07] itzikb opened #138 "Jeeves fails when configuration contains a job that was trigger by multijob"
When running jeeves with a config that has a job triggered by multijob I get the following error:

[code]

[2020-07-22 14:09] nathan-weinberg commented on #138
This is a duplicate of #117

[2020-07-22 16:36] gouthampacha opened #140 ""No blocker" annotations are not very helpful when some blockers exist"
This is an opinion rather than a bug. I feel we could make reporting compact by not emitting extra rows for bugzillas/tickets/others if there aren't any. For example, here's a job that has no bugzillas or tickets, but has a blocker annotation:

![Screenshot 2020-07-22 09 30 15](https://user-images.githubusercontent.com/6268206/88202682-16a0f380-cbfe-11ea-980b-0f80044f7472.png)

It would be better

[2020-07-23 15:57] #55 closed

[2020-07-23 18:56] nathan-weinberg opened #142 "Use jinja2 macros for blockers in templates"
https://stackoverflow.com/questions/21275375/reuse-a-block-of-code-in-several-places-in-jinja2

[2020-07-26 10:09] itzikb opened #143 "Add an option to use customized template"
One may want to be able to change the default template with a customized one e.g. Changing columns' names ,order, add columns etc. Instead of modifying the default template - add an option to supply a different template path.

[2020-07-27 07:43] itzikb opened #144 "Omit Bugs,Tickets and Other fields in Blockers column when there is no data"
It's an Opinion rather than an issue.
It will be great to omit the mentioned fields from the report when there is not data , e.g. when no there are no bugs there is no point to have the Bugs field

[2020-07-27 12:48] nathan-weinberg commented on #144
@itzikb This seems very similar to #140

Would you agree or can you cite any differences?

[2020-07-27 13:03] #144 closed

[2020-07-27 13:04] itzikb commented on #144
duplicate of #140

[2020-07-27 16:43] #122 closed

[2020-07-27 18:09] amodi5 opened #146 "Add pie chart in the generated email report"
Pie chart display at the top of the body of the email report

[2020-07-27 18:09] nathan-weinberg commented on #146
Duplicate of #102

[2020-07-27 18:09] #146 closed

[2020-07-27 19:27] amodi5 commented on #102
#147 pls review

[2020-07-27 19:46] amodi5 commented on #102
![unnamed](https://user-images.githubusercontent.com/32521570/88584837-46962f80-d020-11ea-96db-6a187d65fc53.png)
tested, wfm

[2020-07-27 20:33] EliadCohen commented on #102
Will test tomorrow and review

On Mon, Jul 27, 2020 at 3:46 PM Archit Modi <notifications@github.com>
wrote:

--

Eliad Cohen

Senior Quality Engineer, Enterprise system testing DFG

Red Hat <https://www.redhat.com/>

elicohen@redhat.com    T: +18577700651
M: +17812961025     IM: @eliadcohen on IRC (#RHOS-Enterprise)
<https://www.redhat.com/>

[2020-07-30 14:53] #102 closed

[2020-07-30 15:59] #142 closed

[2020-07-30 16:23] nathan-weinberg commented on #140
As part of the RFE, we should have blocker fields be present for ABORTED and MISSING jobs

[2020-07-30 16:49] #138 closed

[2020-07-30 17:16] #117 closed

[2020-08-04 23:32] #143 closed

[2020-08-05 13:40] itzikb opened #151 "Add a column to show when the build was built"
It's useful to know for each build when it was last built so we can determine if there is a problem with a job that was not triggered for some time.

[2020-08-10 16:45] #151 closed

[2020-08-12 18:01] nathan-weinberg opened #153 "Composes are no longer being parsed correctly"
Due to a change in the Jenkins API object being returned to Jeeves, the compose IDs being parsed from each job are no longer returning correctly

[2020-08-13 12:51] #153 closed

[2020-08-21 14:18] tosky opened #158 "Build selection criteria for should be configurable and the default changed"
The criteria for selecting which builds should be picked for reporting are fixed, and
- the current ones are not useful anymore for the original purposes of jeeves (for which only jobs with a certain label should be selected)
- changing the default to match the current reality may fix things for a while, but it would be better to make them configurable and set per-project.

[2020-08-24 13:27] nathan-weinberg commented on #158
So, there are several ways we could implement this. My first thought would be adding a section to `config.yaml` where users could specify tags in Jenkins (e.g. 'PUBLISH_TO_POLARION') that Jeeves would use by fetching the last completed build with the specified tags.

@itzikb @amodi5 @AlistairTonner Please share your thoughts as this change would affect your DFGs as well

[2020-08-27 18:52] #125 closed

[2020-09-15 14:39] pavankrao opened #162 "Enhance report visualization with doughnutpie charts"
I would like to show a comparison below:

Current visualization with pie chart:
![old compute](https://user-images.githubusercontent.com/46899831/93224751-75d33e00-f73f-11ea-8dc1-0f6887742dc1.png)

Proposed visualization with doughnutpie chart:
![new compute](https://user-images.githubusercontent.com/46899831/93224798-8388c380-f73f-11ea-84de-cb8b83fac436.png)

This proposal improves numbers readab

[2020-09-15 15:02] amodi5 commented on #162
Isn't "aborted" grey in Jenkins?

[2020-09-15 15:13] pavankrao commented on #162
I have updated the colors based on the below commit.
https://github.com/nathan-weinberg/jeeves/pull/161/commits/65f6ad2f85f5d594fd5c9487695999a61d92f23a

[2020-09-15 15:19] nathan-weinberg commented on #162
Yes, "aborted" shows as black whereas "not run" shows as gray

[2020-09-18 20:50] #140 closed

[2020-10-08 19:54] #158 closed

[2020-10-15 15:24] #162 closed

[2020-10-28 13:18] nathan-weinberg opened #168 "Make supported versions a configurable field"
Right now OSP supported versions is hardcoded value - it may make more sense to have this as an configurable value in `config.yaml`

[2020-10-28 13:33] amodi5 commented on #168
Why so? Does anyone want to publish non-supported release jobs?

[2020-10-28 13:35] tosky commented on #168
That doesn't matter. Configuration should be always outside the code whenever possible.

[2020-10-28 13:41] amodi5 commented on #168
Well, I agree, but in this case we can enforce the list of supported releases

[2020-10-28 14:31] agarcia64 commented on #168
I believe that having the supported versions enforced across all DFG reports is more important than any stylistic improvements that would come from moving the supported versions to the config.yaml. Personally I don't see myself using this new field and I believe that (worst case scenario) this may lead to situations where DFGs unintentionally report on unsupported versions.

[2020-12-02 18:36] amodi5 opened #169 "Provide a way for users to add text/body on top of the generated report"
Currently, we can send the report with the job fields and the chart. To make it more customized and fit the needs of users, we want to have a way to provide additional text, for example- some sort of summary, on top of the report.

I'm not sure how this can be done in a more user friendly way, but let me know if anyone has suggestions. Do u think there is a better solution than having a yaml/text

[2020-12-02 18:42] joehakimrahme commented on #169
YAML supports multiline strings, so I would vote for adding a field in the yaml called "description" or "weekly_summary"

[2020-12-02 18:44] nathan-weinberg commented on #169
I like the idea - I agree the simplest but perhaps not the most-user friendly way of doing this would be defining in a separate file, either as part of the existing config YAML or maybe by passing an HTML file as command line arg, which could be injected in the report jinja2 template?

[2020-12-03 19:01] EliadCohen commented on #169
Aside from it's name, the blockers file seems like a good place to introduce a description. This also scales well when using jeeves_config
+1 on the idea

[2020-12-03 19:24] agarcia64 commented on #169
+1 on this
I agree with adding a field in the blockers yaml file to keep jeeves streamlined. Usability should be prioritized if we want more DFGs to adopt jeeves as their reporting tool.

[2020-12-03 19:39] AlistairTonner commented on #169
Absolutely would like having a place to drop in a "summary"/"Commentary" about the report.  I think it would be better in a standalone file (of any format) that could be included, and updated separately from blockers.  Perhaps an option would be to have *either* "string field" containing the comment or *pointer* to a URI for the data in blockers-${dfg}.yaml?
   If we decide to go with the pointer,

[2020-12-10 15:44] amodi5 commented on #169
I'm fine with having both the options available to the user, any suggestions on implementation? Should it be a bulleted list with custom levels of indentation (for sub-list points), should it be tabular,  how can we make the user customization as friendly as possible

[2020-12-10 17:29] nathan-weinberg commented on #169
I think a raw HTML injection would allow the greatest level of flexibility - since the email is already a jinja2 template this would be trivial to implement. The question I think that remains is where do we want this custom (and optional) HTML preface to live - the blocker file, the config file, or a separate file altogether?

Once we decide on that we can begin implementation

[2020-12-10 17:32] amodi5 commented on #169
i think we can rule out config file completely, since this doesn't look anything config related.

[2020-12-15 10:36] itzikb opened #170 "Add number of failed tests to the report"
Add number of failed tests to the report

[2020-12-16 17:24] pbabbar3 commented on #169
I think most of my concerns are already addressed here and I do think having a separate summary file will make sense and we should not be overlapping with config files here.

we can give flexibility to the user to customize the file the way he wants like adding bullets/numeric or the way he want to use the indentation and then append that file and render it in the email beginning. This will be ver

[2020-12-16 22:21] #170 closed

[2020-12-17 15:09] nathan-weinberg commented on #169
/polls "Summary in blockers file" "Summary in seperate file"

[2020-12-17 15:14] nathan-weinberg commented on #169
/polls 'Summary in blockers file' "Summary in separate file"

[2020-12-17 18:12] pavankrao commented on #169
+1

[2020-12-18 21:34] #169 closed

[2021-01-04 16:29] nathan-weinberg opened #173 "Row partially broken for SUCCESS jobs"
I've noticed with the addition of the "Failed Tempest Tests" column reports are being generated incorrectly for SUCCESS jobs for that column and the Blockers column

Examples:
- http://psi-jeeves.css-qe.com/archive/enterprise_report_2020-12-29_12-01-55.html
- http://psi-jeeves.css-qe.com/archive/storage_report_2020-12-29_09-07-18.html

@itzikb Could you please take a look at this?

[2021-01-04 17:09] itzikb commented on #173
@nathan-weinberg Sure.I'll take a look

[2021-01-05 20:47] nathan-weinberg commented on #168
While I still think this is a feature worth having, I'm going to set this to low priority for now since it is not pressing

[2021-01-29 21:57] nathan-weinberg opened #176 "Display second Compose in reports that are Updates or Upgrades"
This could be done by searching job name strings for keywords such as "update" and "upgrade" and "ffu" and then have `get_jenkins_job_info` pull data on the second compose from Jenkins

[2021-01-31 04:39] itzikb commented on #176
+1
Should be looked at these words also in capitals and should be added to documentation.
It may be worth to have a second table for that.
I wonder what should be done regarding the presentation of the tests results

[2021-02-04 02:16] EliadCohen commented on #176
The job names may change with time (There's already talk about this). I think this should be up to the user to mark which ones are upgrade/update.
Maybe specify a flag in the blockers file?

[code]

or such

[2021-02-04 22:26] nathan-weinberg commented on #176
So the issue here is that Jeeves queries all Jenkins jobs specified by the search fields **prior** to reading the blocker file.

We may be able to do a check for the existence of certain JJB parameters instead of doing the check on the job name - will look into this further.

[2021-02-10 21:00] #176 closed

[2021-02-15 17:29] odyssey4me commented on #94
Agreed, this would be great. Currently providing the same dict to multiple jobs is pretty painful.

[2021-02-22 13:51] odyssey4me opened #178 "Does jeeves really need to login to jenkins?"
It would appear from my brief review of https://python-jenkins.readthedocs.io/en/latest/api.html#jenkins.Jenkins that python-jenkins allows anonymous access to jenkins.

Given that jeeves is only reading data out of jenkins about job states, surely it does not actually need to login?

The use of a login user and API token adds an unnecessary complexity and also creates some risk. It'd be better if

[2021-02-22 13:57] nathan-weinberg commented on #178
@odyssey4me You are welcome to investigate this - IIFC authenticating with Jenkins is required, but that portion of the code was implemented over a year ago so I don't remember exactly what happens if you don't. If it turns out we don't need to auth, great.

[2021-02-22 18:08] nathan-weinberg opened #179 "Identify composes by symlinks as well as literal names"
Instead of "first" and "second" pull build symlink names such as "passed_phase2" and "latest_cdn" and use that in the Jeeves reports/reminders

[2021-02-23 19:26] nathan-weinberg commented on #178
@odyssey4me I take it by the opening of this PR you've found that Jenkins credentials are not required?

[2021-02-23 19:28] odyssey4me commented on #178
Yep, works for me. The only reason it's required is to get the user email address. The PR as it stands should maintain current functionality.

[2021-02-23 19:35] nathan-weinberg commented on #178
Very interesting find, thanks for looking into this!

I'm wondering now if it may be worth simply removing the Jenkins authentication for users entirely, if it serves no purpose apart from providing an email address.

@agarcia64 @amodi5 @EliadCohen @jamepark4 @pavankrao @pbabbar3 Would love to hear y'alls thoughts on this

[2021-02-23 19:38] odyssey4me commented on #178
Sure, although there should be a transition period anyway to allow anyone who's using this to change their config.

[2021-02-23 19:55] nathan-weinberg commented on #178
Given the issues we've had with tokens recently (my token has been nuked twice over the last few days due to the Jenkins resets) I think there is some real value in removing these kinds of requirements entirely

[2021-02-23 19:56] odyssey4me commented on #178
Fair point. Let's see what the feedback from others is. I'm happy either way.

[2021-02-23 22:53] nathan-weinberg opened #181 "Jira functions should be renamed"
Functions `get_jira_dict` and `get_jira_set` should be renamed to `get_tickets_dict` and `get_tickets_set`

This is more consistent with the namescheme being used for the Bugzilla functions, `get_bugs_dict` and `get_bugs_set`

[2021-02-25 15:29] jamepark4 commented on #178
Trying this commit with Nova's weekly reports did not yield any problems or issues.  I am definitely ok with switching over to the removal of the api tokens, especially since we would need to regenerate the tokens again in the near future.

[2021-03-02 16:03] agarcia64 commented on #178
I support completely removing the authentication, +1

[2021-03-02 20:10] #181 closed

[2021-03-02 20:12] nathan-weinberg commented on #178
At this point I'm willing to call it - let's remove Jenkins auth entirely. @odyssey4me Do you think you could retool #180 to remove Jenkins auth altogether?

[2021-03-03 09:42] odyssey4me commented on #178
Yep, will do that today.

[2021-03-03 10:11] odyssey4me commented on #178
Done!

[2021-03-03 18:33] #178 closed

[2021-03-05 04:01] nathan-weinberg commented on #54
@agarcia64 Would this help with the cross DFG FFU report?

[2021-03-05 14:58] nathan-weinberg opened #191 "Add a new "mode" flag to run Jeeves in report, remind, or another mode"
Replace `--remind` flag with `--mode` flag with the following behavior:
- `--mode` has two arguments, `report` and `remind`
- Default mode is `report`
- Example usage: `./jeeves.py --mode remind`
- Could be easily extended to allow for other run modes

[2021-03-05 15:05] nathan-weinberg commented on #191
@odyssey4me Was brainstorming of ways to help align upstream Jeeves with Upgrade DFG's needs - thinking we could introduce a run mode for publishing to Confluence by creating a new file in the `jeeves/` subdirectory called `confluence.py` or something like that. Then it's a simple logic switch in the root `jeeves.py` file to run the `confluence.py` code which can be tailored to your DFG's needs. T

[2021-03-05 15:22] nathan-weinberg commented on #50
@agarcia64 Any update on this?

[2021-03-05 15:37] agarcia64 commented on #50
This is definitely on my list!

[2021-03-05 17:22] odyssey4me commented on #191
@nathan-weinberg I was kinda hoping to use https://github.com/proctorlabs/confluence-cli instead of carrying our own code for uploading to confluence. It would just need working out the CI bit to use a container to upload the artifact.

I haven't really had the chance to look into how to change gitlab to make that happen just yet.

[2021-03-05 17:53] nathan-weinberg commented on #191
@odyssey4me Sounds good, I may go ahead and make the change (I figure this general approach will allow for any DFG to have the option to make a run mode if they have custom needs in the future) but feel free to implement whatever is needed to fit your usecase.

[2021-03-08 19:01] agarcia64 commented on #54
@nathan-weinberg Absolutely, this RFE would streamline the process for reporting since it would remove any chance of reporting non FFU taskforce FFU jobs.

[2021-03-10 00:11] nathan-weinberg commented on #191
@odyssey4me This may interest you as well: https://atlassian-python-api.readthedocs.io/confluence.html#page-actions

[2021-03-11 17:51] #191 closed

[2021-03-14 13:25] itzikb opened #195 "Add a column to see the latest failing stage"
It can be useful to see at which stage a job failed at for example to see if couple of jobs failed at the same stage.

[2021-03-15 13:55] nathan-weinberg commented on #195
@odyssey4me @ciecierski @jamepark4 You've all implemented something similar to this at one point, correct?

[2021-03-15 14:02] jamepark4 commented on #195
Excert(s) below of identifying stage failure that I run when gathering all latest job results and aggregating based on build/tempest failures.  The 'fail_url' api endpoint has a stages dictionary in the return value that lists the name and result of each stage executed, along with some other bits of information.

fail_url = '{}/job/{}/{}/wfapi/describe'.format(JENK_URL,url,build_no)
build_failures

[2021-03-15 16:05] ciecierski commented on #195
@nathan-weinberg @itzikb yes, we have it implemented. Take a look at https://github.com/sathlan/jeeves/commit/dc215d06c9947842d4be91d5620647d0c6952d73
I wanted to create separate pr with this code, but @itzikb feel free to do it if you want.

[2021-03-15 18:56] itzikb commented on #195
@ciecierski If you already implemented it there is no reason to create another PR, just assign it to yourself please.

[2021-03-16 14:03] nathan-weinberg commented on #195
@ciecierski One request - if you make the column, can you put it between "Result" and "Failed Tempest Tests" ?

with an "N/A" value for "SUCCESS", "ABORTED", and "NO_KNOWN_BUILDS" jobs

[2021-03-19 17:51] #53 closed

[2021-03-24 18:48] ciecierski commented on #54
How we are going to track/maintain list of interesting cross-section jobs?  One solution that comes to my mind is creating report based on jenkins views, which are tracked in our internal repo. It should be possible to get job names from a view instead of providing them in config.

[2021-03-29 15:47] ciecierski opened #202 "Increase test coverage for jeeves"
I would like to start a discussion on how we can add more tests to jeeves. There are already some simple tests implemented in `tests` folder, however they don't cover much of the code base. Tests can be helpful both for developer and reviewer. (for an example as a reviewer I would like to see the resulting report page in the CI and check how it differ versus before change).
My first idea is to loo

[2021-03-29 15:48] nathan-weinberg commented on #202
Very much in favor of this!

[2021-04-07 14:57] #195 closed

[2021-04-28 02:33] #168 closed

[2021-05-14 18:08] nathan-weinberg opened #214 "Jira tickets not showing status after upgrade to v3"
After merging #213 Jira tickets are not showing the prepended status as before

[2021-05-14 18:08] nathan-weinberg commented on #214
courtesy of @EliadCohen: https://stackoverflow.com/questions/67531684/jira-python-session-takes-1-positional-argument-but-2-were-given

[2021-05-17 14:29] #214 closed

[2022-02-02 12:00] damani42 commented on #202
Yes it will be very great.

[2022-02-02 14:25] EliadCohen commented on #202
+1

[2022-02-02 15:43] nathan-weinberg commented on #50
@agarcia64 Any progress?

[2022-02-10 17:31] EliadCohen opened #235 "Potential issue - A change to Bugzilla"
Tl;dr From Monday 28th February, applications making API calls to Bugzilla may
no longer authenticate using passwords or supplying API keys in call
parameters. Instead, API keys must be supplied in the Authorization header.

Might be worth preparing

[2022-03-14 14:58] nathan-weinberg commented on #235
@agarcia64 any news on this?

[2022-03-14 17:42] #235 closed

[2022-03-25 11:37] damani42 commented on #61
Can I ask you why you want use tabs instead spaces?

[2022-03-25 13:41] nathan-weinberg commented on #61
@damani42 I prefer tabs - I'll point out this decision was made several years ago, there are more productive things that can be done with the project than rehashing this.

[2022-03-25 13:50] damani42 commented on #61
@nathan-weinberg, it was only a question. I mean all python projects use spaces, it was not for rehashing.

[2022-04-05 19:25] agarcia64 opened #244 "codecov check fails due to PR #243 "Move test requirements.""
The error message when codecov is run is:
'Process completed with exit code 127.'

[2022-04-05 19:27] agarcia64 commented on #244
@damani42 Could you please assign yourself to this issue and submit a fix when you can?

[2022-04-06 15:06] damani42 commented on #244
Ok I will do that.

[2022-04-06 15:06] damani42 commented on #244
I can't assign me the issue sorry, can you assign to me please?

[2022-04-20 18:07] #244 closed